body {
    text-align: center;
    background-color: rgb(59, 50, 49);
}

#meals {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font: 500;
    font-size: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px;
    gap: 80px;
}

#mealOption {
    color: white;
    background-color: rgb(209, 8, 8);
    padding: 30px;
    border-radius: 40px;
}

#mealOption:hover {
    background-color: rgb(247, 113, 10);
    color: rgb(209, 8, 8);
}
