body {
    text-align: center;
}

#PopularOp {
    border: solid black;
    height: 700PX;
    background-image: url("/images/pics/AmericanB.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#sectionTitle {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font: 500;
    color: rgb(247, 113, 10);
    
}

#lowPriceDiv {
    display: flex;
    justify-content: right;
    padding-bottom: 50px;
    

}

#lowPrice {
    
    padding: 5px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font: 500;
    color: rgb(247, 113, 10);
    border: 5px solid black;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    top: 170px;
    right: 50px;
}

#orderLink a{
    padding: 5px;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    font: 500;
    color: black; 
    position: absolute;
    bottom: -160px;
    right: 50px;
    background-color: white;
    border-radius: 10px;
}

#orderLinkDiv {
    display: flex;
    justify-content: right;
 
}


#orderLink a:hover {
    color: white;
    background-color: black;
}

#options {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font: 500;
    font-size: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px;
    gap: 80px;
}

#option {
    color: white;
    background-color: rgb(209, 8, 8);
    padding: 30px;
    border-radius: 40px;
}

#option:hover {
    background-color: rgb(247, 113, 10);
    color: rgb(209, 8, 8);
    
}